[submodule "deps/WebZjs"]
	path = deps/WebZjs
	url = git@github.com:ChainSafe/WebZjs.git
[submodule "deps/aztec-standards"]
	path = deps/aztec-standards
	url = git@github.com:defi-wonderland/aztec-standards.git
